{{- $title := .Title -}}
<div class="columns article-preview is-print my-6 {{ with .Params.category }}{{ urlize . }}{{ end }}">
	{{ $href := .RelPermalink }}
	{{ with .Params.banner }}
	<div class="column is-4">
		<a href="{{ $href }}" title="{{ $title }}">
			{{ partial "micro/image" (dict "filename" .) }}
		</a>
	</div>
	{{ end }}
	<div class="column">
		<h2 class="is-size-4 is-family-secondary has-text-weight-semibold mb-2">
			<a href="{{ $href }}" class="has-text-dark">{{ .Title }}</a>
		</h2>
		<div class="meta-data is-size-7 is-uppercase mb-3">
			{{ with .Params.author }}<span>{{ . }}</span> <span class="sep">|</span>{{ end }}
			{{ with .Params.category }}<span>{{ . }}</span> <span class="sep">|</span>{{ end }}
			{{ .Date.Format "2006-01-02" }} <span class="sep">|</span>
			{{ i18n "readingTime" .ReadingTime }}
		</div>
		<div class="content mb-1">{{ .Summary }}</div>
		<a href="{{ $href }}" class="button is-small is-dark is-outlined is-uppercase mt-1">
			{{ i18n "_Continue reading" }}
		</a>
	</div>
</div>
