<form name="ashtaricarpets.com contact" action="{{ "/pages/success" | relLangURL }}" netlify-honeypot="phonenumber"
	id="contactForm" data-netlify="true">
	<div class="field">
		<label for="name">{{ i18n "_Your Name" }}</label>
		<div class="control has-icons-left">
			<span class="icon is-small is-left">
				<i class="icon icon-user"></i>
			</span>
			<input type="text" name="name" class="input" placeholder="{{ i18n "_Your Name" }}" id="name" required>
		</div>
	</div>
	<div class="field">
		<label for="email">{{ i18n "_Your Email" }}</label>
		<div class="control has-icons-left">
			<span class="icon is-small is-left">
				<i class="icon icon-envelope"></i>
			</span>
			<input type="email" name="_replyto" class="input" placeholder="{{ i18n "_Your Email" }}" id="email"
				required>
		</div>
	</div>
	<label class="is-hidden">Don’t fill this out if you’re human: <input name="phonenumber" /></label>
	<div class="field">
		<label for="message">{{ i18n "_Your Message" }}</label>
		<textarea rows="10" name="message" class="textarea" placeholder="{{ i18n "_Your Message" }}" id="message"
			required></textarea>
	</div>
	<button type="submit" class="button is-primary is-outlined" id="send-button">
		<span class="icon">
			<i class="icon icon-envelope"></i>
		</span>
		<span>{{ i18n "_Send message" }}</span>
	</button>
</form>
