<div id="openinghours">
	<div class="openinghourscontent">
		<div class="header">
			<h3 class="is-family-secondary is-size-5">{{ i18n "_Opening hours" }}</h3>
			<div id="open-status" class="is-hidden-print">
				<p id="openorclosed">{{ i18n "_We are" }}</p>
			</div>
		</div>
		<table class="table opening-hours-table is-fullwidth has-text-white">
			<tr id="Monday" itemprop="openingHours">
				<td>{{ i18n "_Monday" }}</td>
				<td colspan="3">{{ i18n "_closed" }}</td>
			</tr>
			<tr id="Tuesday" itemprop="openingHours">
				<td>{{ i18n "_Tuesday" }}</td>
				<td class="opens">10:00</td>
				<td>-</td>
				<td class="closes">18:00</td>
			</tr>
			<tr id="Wednesday" itemprop="openingHours">
				<td>{{ i18n "_Wednesday" }}</td>
				<td class="opens">10:00</td>
				<td>-</td>
				<td class="closes">18:00</td>
			</tr>
			<tr id="Thursday" itemprop="openingHours">
				<td>{{ i18n "_Thursday" }}</td>
				<td class="opens">10:00</td>
				<td>-</td>
				<td class="closes">18:00</td>
			</tr>
			<tr id="Friday" itemprop="openingHours">
				<td>{{ i18n "_Friday" }}</td>
				<td class="opens">10:00</td>
				<td>-</td>
				<td class="closes">18:00</td>
			</tr>
			<tr id="Saturday" itemprop="openingHours">
				<td>{{ i18n "_Saturday" }}</td>
				<td class="opens">10:00</td>
				<td>-</td>
				<td class="closes">18:00</td>
			</tr>
			<tr id="Sunday" itemprop="openingHours">
				<td>{{ i18n "_Sunday" }}</td>
				<td colspan="3">{{ i18n "_closed" }}</td>
			</tr>
		</table>
	</div>
</div>
