<div class="buttons">
	<a class="button" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target=_blank>
		<i class="icon icon-facebook"></i>
		<span>facebook</span>
	</a>
	<a class="button" href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-custom="true">
		<i class="icon icon-pinterest"></i>
		<span>pinterest</span>
	</a>
	<a class="button" href="mailto:?subject=Ashtari%20Carpets%20interessant%20artikel&body={{ .Permalink }}">
		<i class="icon icon-envelope"></i>
		<span>mail</span>
	</a>
	<a class="button" href="javascript:window.print()">
		<i class="icon icon-print"></i>
		<span>print</span>
	</a>
</div>
