<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head" . }}

<body class="single-page">
	<header>
		{{ partial "nav.html" . }}
	</header>

	<section class="section my-6">
		<div class="container is-widescreen">
			<div class="columns">

				<!-- *** LEFT COLUMN *** -->
				<div class="column is-8">

					<h1 class="is-family-secondary is-size-3 has-text-weight-semibold">{{ .Title }}</h1>

					<p class="is-uppercase has-text-grey mb-5">
						{{ if .Params.author }}By <a href="#">{{ .Params.author }}</a> <span class="sep">|</span>
						{{ end }}

						{{ with .Params.category }}
						{{ . }} <span class="sep">|</span>
						{{ end }}

						{{ with .Date }}{{ .Format "2/1/2006" }} <span class="sep">|</span>{{ end }}
						{{ i18n "readingTime" .ReadingTime }}
						{{ if .IsTranslated }}
						<span class="sep">|</span>
						{{ with .Translations }}
						{{ if gt (len .) 0 }}
						{{ partial "micro/article_translations.html" . }}
						{{ end }}
						{{ end }}
						{{ end }}
					</p>

					<div id="post-content" class="content mb-6">
						{{ .Content }}
						{{ with .Params.images }}
						{{ partial "micro/image_gallery" . }}
						{{ end }}

					</div>

					<div class="columns mb-6">
						{{ if .Params.tags }}
						<div id="article-tags" class="column">
							<h3 class="is-family-secondary is-size-4 mb-3 has-text-weight-semibold">
								{{ i18n "_Tags" }}</h3>
							<div>
								{{ range (.GetTerms "tags") }}
								{{ partial "micro/tag" . }}
								{{ end }}
							</div>
						</div>
						{{ end }}
						<div id="social" class="column">
							<h3 class="is-family-secondary is-size-4 mb-3 has-text-weight-semibold">
								{{ i18n "_Share this article" }}</h3>
							<div>
								{{ partial "widgets/social-buttons.html" . }}
							</div>
						</div>
					</div>
					{{ if .Site.DisqusShortname }}
					<div id="comments">
						<h3 class="is-family-secondary is-size-4 mb-3 has-text-weight-semibold">{{ i18n "_Comments" }}
						</h3>
						{{ template "_internal/disqus.html" . }}
					</div>
					{{ end }}
				</div>

				<div class="column is-1"></div>

				<div class="column">
					{{ partial "sidebar.html" . }}
				</div>

			</div>

		</div>
	</section>

	{{ partial "footer.html" . }}
	{{ partial "scripts.html" . }}
	{{ partial "scripts_single_page.html" . }}
</body>

</html>
