<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head.html" . }}

<body class="list-page">

	<header>
		{{ partial "nav.html" . }}
	</header>

	<div id="content">
		<section class="section post my-6">
			<div class="container is-widescreen">
				<div class="columns">

					<!-- *** LEFT COLUMN *** -->
					<div class="column" id="blog-listing-medium">

						{{ partial "micro/section-header" (dict "title" .Title) }}

						{{ $featuredposts := (sort (where .Site.RegularPages "Section" "testimonials") "File.Path").Reverse }}

						{{ if (gt (len $featuredposts) 0) }}

							{{/* divide the number of posts by 16 to get the number of repeats */}}
							{{ $repeats := div (len $featuredposts) 16 }}

							{{/* add 1 if we have some posts left over */}}
							{{ $repeats := add $repeats (cond (ne (mod (len $featuredposts) 16) 0) 1 0) }}

							{{/* make a sequence out of $repeats and range over it */}}
							{{ range $i, $sequence :=  (seq $repeats) }}
								{{ partial "homepage/layouts/16" (first 16 (after (mul $i 16) $featuredposts)) }}
							{{ end }}

						{{ end }}

					</div>

					{{/*  <div class="column is-1"></div>

					<div id="sidebar" class="column">
						{{ partial "sidebar.html" . }}
					</div>  */}}

				</div>
			</div>
		</section>
	</div>

	{{ partial "footer.html" . }}
	{{ partial "scripts.html" . }}

</body>

</html>
