<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script type="text/javascript">
	const lightbox = GLightbox({
		selector: '.glightbox',
		touchNavigation: true,
		loop: true,
	});
</script>

<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

<script type="text/javascript">
	const observer = lozad('.lozad', {
		rootMargin: '100px 0px', // syntax similar to that of CSS Margin
	});
	observer.observe();
</script>
