<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head.html" . }}

<body>
	<header>
		{{ partial "nav.html" . }}
	</header>

	{{ partial "homepage/vimeo.html" . }}

	{{ partial "homepage/instafeed.html" . }}

	<!-- {{ partial "homepage/carousel.html" . }} -->

	<!-- {{ partial "homepage/interiors.html" . }} -->

	{{ partial "homepage/recent_posts.html" . }}

	{{ partial "homepage/testimonials.html" . }}

	{{ partial "homepage/about_ashtari.html" . }}

	{{ partial "homepage/features.html" . }}

	{{ partial "homepage/craftsmanship.html" . }}

	<!-- {{ partial "homepage/designers.html" . }} -->

	<!-- {{ partial "homepage/brands.html" . }} -->

	{{ partial "homepage/services.html" . }}

	{{ partial "footer.html" . }}
	{{ partial "scripts.html" . }}
	{{ partial "widgets/livechat.html" . }}

</body>
</html>
