{{ if isset .Site.Params "instafeed" }}
{{ if .Site.Params.instafeed.enable }}
<script type="text/javascript">
	// '<span class="column is-2-desktop is-4-tablet is-6-mobile"></span>'

		async function fetchImages() {
			const result = await fetch('https://profilepageimages.usecue.com/images/ashtaricarpets/images.json');
			try {
				const images = await result.json();
				return images.filter(im => im.media_type === 'IMAGE').slice(0, 12);
			} catch (err) {
				console.log(err);
			}
		}

		async function load() {
			const images = await fetchImages();
			console.log('images:', images)
			try {
				const elem = document.getElementById('instagram');
				if (images.length > 0) elem.innerHTML = images.map(imageToHtml).join('');
				else elem.innerHTML = 'Er zijn geen instagram images.';
			} catch (err) {
				console.error(err);
				elem.innerHTML = 'Er zijn geen instagram images.';
			}
		}

		function imageToHtml(image = {}) {
			return `<div class="column is-2-desktop is-4-tablet is-6-mobile">
				<a href="${image.permalink}"><img title="${image.caption}" src="${image.image}" /></a></a>
			</div>`;
			// return `<pre>${JSON.stringify(image, null, 2)}</pre>`;
		}

		window.onload = load;
</script>
{{ end }}
{{ end }}
