{{ if isset .Site.Params "craftsmanship" }}
{{ if .Site.Params.craftsmanship.enable }}
<section class="section my-6 hero background-image-fixed craftsmanship is-medium is-hidden-print">
	<div class="hero-body">
		<div class="container has-text-centered">
			<a href="{{ .Site.Params.craftsmanship.link_url | relLangURL }}" class="has-text-white" title="{{ .Site.Params.craftsmanship.title | safeHTML }}">
				<i class="icon is-large icon-youtube-play" style="height: 6rem; width: 6rem; font-size: 6rem; text-shadow: none;"></i>
			<h1 class="title is-family-secondary is-size-2 has-text-white">
					{{ .Site.Params.craftsmanship.title | safeHTML }}
			</h1>
			<h2 class="subtitle is-size-3 has-text-white">
					{{ .Site.Params.craftsmanship.subtitle | safeHTML }}
			</h2>
			<span class="button is-white is-uppercase mt-3">
				{{ .Site.Params.craftsmanship.link_text }}
			</span>
		</a>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
