{{ if isset .Site.Params "craftsmanship" }}
{{ if .Site.Params.craftsmanship.enable }}
<section class="section my-6 hero background-image-fixed craftsmanship is-medium is-hidden-print">
	<div class="hero-body">
		<div class="container has-text-centered">
			<a href="{{ .Site.Params.craftsmanship.link_url | relLangURL }}" class="has-text-white is-size-1" title="{{ .Site.Params.craftsmanship.title | safeHTML }}">
				<i class="icon icon-play-circle-o"></i>
			</a>
			<h1 class="title is-family-secondary is-size-2">
				<a href="{{ .Site.Params.craftsmanship.link_url | relLangURL }}" class="has-text-white">
					{{ .Site.Params.craftsmanship.title | safeHTML }}
				</a>
			</h1>
			<h2 class="subtitle is-size-3">
				<a href="{{ .Site.Params.craftsmanship.link_url | relLangURL }}" class="has-text-white">
					{{ .Site.Params.craftsmanship.subtitle | safeHTML }}
				</a>
			</h2>
			<a href="{{ .Site.Params.craftsmanship.link_url | relLangURL }}" class="button is-white is-uppercase mt-3">
				{{ .Site.Params.craftsmanship.link_text }}
			</a>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
