{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
{{ $locale := .Site.Language.Lang }}
<section class="section my-6 features">
	<div class="container is-widescreen">
		<div class="tile is-ancestor">
			{{ range sort .Site.Data.features "weight" }}
			<div class="tile is-parent has-text-centered">
				<div class="box">
					{{ with .icon }}
					<div class="icon"><i class="{{ . }}"></i></div>
					{{ end }}
					<h3 class="mb-3 is-size-4 is-family-secondary has-text-centered">{{ index .name $locale }}</h3>
					<div class="content has-text-justified">{{ index .description $locale | safeHTML }}</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
{{ end }}
{{ end }}
