{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len (where .Site.RegularPages "Section" "about")) 0 }}
<section class="section my-6 features">
	<div class="container is-widescreen">
		<div class="tile is-ancestor">
			{{ range (where .Site.RegularPages "Section" "about") }}
			<div class="tile is-parent has-text-centered">
				<div class="box">
					<h3 class="mb-3 is-size-4 is-family-secondary has-text-centered">{{ .Title }}</h3>
					<div class="content has-text-justified">{{ .Content }}</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
{{ end }}
{{ end }}
